In [6]:
import pandas as pd

# Load datasets
files = {
    "credit_card": "../data/Credit card transactions - India - Simple.csv",
    "finance_small": "../data/Personal_Finance_Data.csv",
    "finance_expenses": "../data/personal_finance_expenses.csv",
    "finance_tracker": "../data/personal_finance_tracker_dataset.csv"
}

dfs = {name: pd.read_csv(path) for name, path in files.items()}

# Show quick info
for name, df in dfs.items():
    print(f"\n===== {name.upper()} =====")
    print("Shape:", df.shape)
    print("Columns:", df.columns.tolist())
    print("Missing values:\n", df.isnull().sum())
    print(df.head(3))

===== CREDIT_CARD =====
Shape: (26052, 7)
Columns: ['index', 'City', 'Date', 'Card Type', 'Exp Type', 'Gender', 'Amount']
Missing values:
 index        0
City         0
Date         0
Card Type    0
Exp Type     0
Gender       0
Amount       0
dtype: int64
   index                   City       Date Card Type Exp Type Gender  Amount
0      0           Delhi, India  29-Oct-14      Gold    Bills      F   82475
1      1  Greater Mumbai, India  22-Aug-14  Platinum    Bills      F   32555
2      2       Bengaluru, India  27-Aug-14    Silver    Bills      F  101738

===== FINANCE_SMALL =====
Shape: (1500, 5)
Columns: ['Date', 'Transaction Description', 'Category', 'Amount', 'Type']
Missing values:
 Date                       0
Transaction Description    0
Category                   0
Amount                     0
Type                       0
dtype: int64
         Date             Transaction Description      Category   Amount  \
0  2020-01-02                         Score each.  Food & Drink  1485.69
1  2020-01-02                 Quality throughout.     Utilities  1475.58
2  2020-01-04  Instead ahead despite measure ago.          Rent  1185.08

      Type
0  Expense
1  Expense
2  Expense

===== FINANCE_EXPENSES =====
Shape: (20000, 27)
Columns: ['Income', 'Age', 'Dependents', 'Occupation', 'City_Tier', 'Rent', 'Loan_Repayment', 'Insurance', 'Groceries', 'Transport', 'Eating_Out', 'Entertainment', 'Utilities', 'Healthcare', 'Education', 'Miscellaneous', 'Desired_Savings_Percentage', 'Desired_Savings', 'Disposable_Income', 'Potential_Savings_Groceries', 'Potential_Savings_Transport', 'Potential_Savings_Eating_Out', 'Potential_Savings_Entertainment', 'Potential_Savings_Utilities', 'Potential_Savings_Healthcare', 'Potential_Savings_Education', 'Potential_Savings_Miscellaneous']
Missing values:
 Income                             0
Age                                0
Dependents                         0
Occupation                         0
City_Tier                          0
Rent                               0
Loan_Repayment                     0
Insurance                          0
Groceries                          0
Transport                          0
Eating_Out                         0
Entertainment                      0
Utilities                          0
Healthcare                         0
Education                          0
Miscellaneous                      0
Desired_Savings_Percentage         0
Desired_Savings                    0
Disposable_Income                  0
Potential_Savings_Groceries        0
Potential_Savings_Transport        0
Potential_Savings_Eating_Out       0
Potential_Savings_Entertainment    0
Potential_Savings_Utilities        0
Potential_Savings_Healthcare       0
Potential_Savings_Education        0
Potential_Savings_Miscellaneous    0
dtype: int64
         Income  Age  Dependents     Occupation City_Tier          Rent  \
0  44637.249636   49           0  Self_Employed    Tier_1  13391.174891
1  26858.596592   34           2        Retired    Tier_2   5371.719318
2  50367.605084   35           1        Student    Tier_3   7555.140763

   Loan_Repayment    Insurance    Groceries    Transport  ...  \
0        0.000000  2206.490129  6658.768341  2636.970696  ...
1        0.000000   869.522617  2818.444460  1543.018778  ...
2     4612.103386  2201.800050  6313.222081  3221.396403  ...

   Desired_Savings  Disposable_Income  Potential_Savings_Groceries  \
0      6200.537192       11265.627707                  1685.696222
1      1923.176434        9676.818733                   540.306561
2      7050.360422       13891.450624                  1466.073984

   Potential_Savings_Transport  Potential_Savings_Eating_Out  \
0                   328.895281                    465.769172
1                   119.347139                    141.866089
2                   473.549752                    410.857129

   Potential_Savings_Entertainment  Potential_Savings_Utilities  \
0                       195.151320                   678.292859
1                       234.131168                   286.668408
2                       459.965256                   488.383423

   Potential_Savings_Healthcare  Potential_Savings_Education  \
0                     67.682471                     0.000000
1                      6.603212                    56.306874
2                      7.290892                   106.653597

   Potential_Savings_Miscellaneous
0                        85.735517
1                        97.388606
2                       138.542422

[3 rows x 27 columns]

===== FINANCE_TRACKER =====
Shape: (3000, 25)
Columns: ['date', 'user_id', 'monthly_income', 'monthly_expense_total', 'savings_rate', 'budget_goal', 'financial_scenario', 'credit_score', 'debt_to_income_ratio', 'loan_payment', 'investment_amount', 'subscription_services', 'emergency_fund', 'transaction_count', 'fraud_flag', 'discretionary_spending', 'essential_spending', 'income_type', 'rent_or_mortgage', 'category', 'cash_flow_status', 'financial_advice_score', 'financial_stress_level', 'actual_savings', 'savings_goal_met']
Missing values:
 date                      0
user_id                   0
monthly_income            0
monthly_expense_total     0
savings_rate              0
budget_goal               0
financial_scenario        0
credit_score              0
debt_to_income_ratio      0
loan_payment              0
investment_amount         0
subscription_services     0
emergency_fund            0
transaction_count         0
fraud_flag                0
discretionary_spending    0
essential_spending        0
income_type               0
rent_or_mortgage          0
category                  0
cash_flow_status          0
financial_advice_score    0
financial_stress_level    0
actual_savings            0
savings_goal_met          0
dtype: int64
         date  user_id  monthly_income  monthly_expense_total  savings_rate  \
0  2019-01-01     1584         3119.58                3212.07          0.38
1  2019-01-31     1045         3262.44                3732.81          0.10
2  2019-03-02     1756         2931.20                3335.58          0.15

   budget_goal financial_scenario  credit_score  debt_to_income_ratio  \
0      3676.11          inflation         721.0                  0.56
1      2607.17          inflation         670.0                  0.42
2      3004.14          inflation         691.0                  0.24

   loan_payment  ...  discretionary_spending  essential_spending  income_type  \
0        125.77  ...                  857.55             1910.85    Freelance
1        454.19  ...                  534.51             3165.20       Salary
2        971.82  ...                  353.67             1504.56    Freelance

   rent_or_mortgage     category  cash_flow_status  financial_advice_score  \
0           1501.65  Investments          Positive                     8.3
1           1603.17  Investments          Positive                    22.6
2           1097.82   Healthcare          Positive                    58.8

  financial_stress_level  actual_savings savings_goal_met
0                    Low             0.0                0
1                    Low             0.0                0
2                    Low             0.0                0

[3 rows x 25 columns]

In [9]:
# Explore finance_expenses dataset (without new calculations)
fe = dfs["finance_expenses"]

# Data types
print("Data types:\n", fe.dtypes)

# Summary stats for first 10 numeric columns
print("\nSummary statistics:")
print(fe.describe().transpose().head(10))

# Unique categories
print("\nUnique Occupations:", fe['Occupation'].unique()[:10], "...")
print("Number of Occupations:", fe['Occupation'].nunique())

print("\nUnique City Tiers:", fe['City_Tier'].unique())

Data types:
 Income                             float64
Age                                  int64
Dependents                           int64
Occupation                          object
City_Tier                           object
Rent                               float64
Loan_Repayment                     float64
Insurance                          float64
Groceries                          float64
Transport                          float64
Eating_Out                         float64
Entertainment                      float64
Utilities                          float64
Healthcare                         float64
Education                          float64
Miscellaneous                      float64
Desired_Savings_Percentage         float64
Desired_Savings                    float64
Disposable_Income                  float64
Potential_Savings_Groceries        float64
Potential_Savings_Transport        float64
Potential_Savings_Eating_Out       float64
Potential_Savings_Entertainment    float64
Potential_Savings_Utilities        float64
Potential_Savings_Healthcare       float64
Potential_Savings_Education        float64
Potential_Savings_Miscellaneous    float64
dtype: object

Summary statistics:
                  count          mean           std          min  \
Income          20000.0  41585.496104  40014.540538  1301.187333
Age             20000.0     41.031450     13.578725    18.000000
Dependents      20000.0      1.995950      1.417616     0.000000
Rent            20000.0   9115.494629   9254.228188   235.365692
Loan_Repayment  20000.0   2049.800292   4281.789941     0.000000
Insurance       20000.0   1455.028761   1492.938435    30.002012
Groceries       20000.0   5205.667493   5035.953689   154.078240
Transport       20000.0   2704.466685   2666.345648    81.228584
Eating_Out      20000.0   1461.856982   1481.660811    39.437523
Entertainment   20000.0   1448.853658   1489.019270    45.421469

                         25%           50%           75%           max
Income          17604.875957  30185.383480  51765.446460  1.079728e+06
Age                29.000000     41.000000     53.000000  6.400000e+01
Dependents          1.000000      2.000000      3.000000  4.000000e+00
Rent             3649.422246   6402.751824  11263.940492  2.159457e+05
Loan_Repayment      0.000000      0.000000   2627.142320  1.230807e+05
Insurance         580.204749   1017.124681   1787.160895  3.873493e+04
Groceries        2165.426419   3741.091535   6470.892718  1.198169e+05
Transport        1124.578012   1933.845509   3360.597508  8.186150e+04
Eating_Out        581.011801   1029.109726   1807.075251  3.440610e+04
Entertainment     581.632906   1020.198376   1790.104082  3.866737e+04

Unique Occupations: ['Self_Employed' 'Retired' 'Student' 'Professional'] ...
Number of Occupations: 4

Unique City Tiers: ['Tier_1' 'Tier_2' 'Tier_3']